
* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.window {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #1D232C;
    -webkit-box-shadow: 2px 4px 20px 0px rgba(7, 6, 18, 0.25);
    -moz-box-shadow: 2px 4px 20px 0px rgba(7, 6, 18, 0.25);
    box-shadow: 2px 4px 20px 0px rgba(7, 6, 18, 0.25);
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-header {
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #EEF0F4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    margin-bottom: 4px;

}

.window-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #3B4758;
}

.text-secondary {
    color: #3B4758;
    user-select: none;
}

.item-group {
    border-radius: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: fit-content;
}

.basic-form-input {
    box-sizing: border-box;
    border-radius: 12px;
    height: 43px;
    margin-bottom: 4px;
}

.item-group > * {
    height: 100%;
}


.header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
}

input, textarea {
    background-color: #3B4758;
    border: none;
    color: #BAC4D1;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
}

select {
    appearance: none;
    background-color: #3B4758;
    color: #BAC4D1;
    border: none;
    outline: none;

    padding-left: 12px;
    padding-right: 12px;
}

input:focus, textarea:focus {
    border: none;
    outline: none;
}

.small-input {
    height: 40px;
    border-radius: 6px;
}

.round {
    border-radius: 100%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.button-group {
    display: flex;
    align-items: center;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.submit-btn {
    background-color: #0077E4;
    color: #EEF0F4;
    height: 46px;
    border-radius: 12px;
}

.w-full {
    width: 100%;
}


.create-store-form {
    width: 411px;
}

.page-content {
    margin-top: 20px;
}

.list-item {
    border-bottom: 1px solid #586A84;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 4px 0 4px;
    font-size: 14px;
}

.list-item-sm {
    border-bottom: 1px solid #586A84;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 4px 0 4px;
    font-size: 14px;
}

.list-item-column {
    border-bottom: 1px solid #586A84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 4px 0 4px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mt-4 {
    margin-top: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.page-title {
    margin-bottom: 8px;
}
